dist: xenial
language: python
python:
  - '3.7'
  - '2.7'
env:
  - HVAC_VAULT_VERSION=1.1.3 HVAC_VAULT_LICENSE=enterprise
  - HVAC_VAULT_VERSION=1.0.3 HVAC_VAULT_LICENSE=enterprise
  - HVAC_VAULT_VERSION=0.11.0 HVAC_VAULT_LICENSE=enterprise  # This ver kept explicitly; it has subsequently reverted backwards-incompatible changes.
  - HVAC_VAULT_VERSION=HEAD HVAC_VAULT_LICENSE=OSS
  - TOXENV=flake8
matrix:
  include:
    - name: 'Vault OSS - Latest hvac-tested Release on Python 3.7'
      python: '3.7'
      env: HVAC_VAULT_VERSION=1.1.3 HVAC_VAULT_LICENSE=OSS
    - name: 'Test Documentation Build - Sphinx: "make html"'
      env: TOXENV=docs
  allow_failures:
    # Ignore failed tests run against Vault builds using the HEAD ref at: https://github.com/hashicorp/vault.
    - env: HVAC_VAULT_VERSION=HEAD HVAC_VAULT_LICENSE=OSS
  # Don't wait on the "allow_failures" build jobs before reporting on the overall success/failure of the current build.
  fast_finish: true
install:
  - tests/scripts/install-consul.sh
  - tests/scripts/install-vault.sh ${HVAC_VAULT_VERSION} ${HVAC_VAULT_LICENSE}
  - pip install tox-travis
script:
  - make test
notifications:
  webhooks:
    secure: "IuHvo7I77oZKo++O9QSq1TOtYOvZnqSTg7uO1lr7/+6fMsFLZE4YQVVqa3qyJwn5Q2DafAIdzVj5OyWT9FK8hDTAhqkDL4iVnh+Bk+ph1WBYA0OzFv32K0M46byUwTMmeq51DIuTozhJ/v58pYk6d95MJT9J5/cXCeGmr2vAUqo="
jobs:
  include:
    - stage: PyPi Release
      install: skip
      script: skip
      before_deploy:
        - make package
      deploy:
        provider: pypi
        user: hvac-bot
        password:
          secure: s9LLuUp1+ZTE3xvXdW9tF9hPUk7jxsFvol3PouDXdSVBNeVUhyHG1fMxOi1p8UOhx7e/iOGv8Bi77z0gDQgcynrFywhHEGbuna92Am40wMFT/Lu+JzHi8y2zBdahNsi80FnlNhW3MEtCNkXI6HgIlBpzEcfSm0ovfuncT0+5fCI=
        distributions: "sdist bdist_wheel"
        skip_cleanup: true
        on:
          tags: true
