-r ./requirements.txt
Authlib
black
click<=8.0.4
cryptography<=36.0.2
dataclasses<=0.6
Flask<=2.0.3
Flask-SQLAlchemy
flake8
codecov
coverage<=6.2
ipaddress
mock
nose
parameterized
pytest
pytest-cov
python-ldap-test
python_jwt
requests_mock
semantic_version
Werkzeug