name: Test build and installation

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v3

    - name: Install Poetry
      uses: snok/install-poetry@v1.3.1
      with:
        version: 1.1.14
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Set up Python ${{ matrix.python-version }}
      id: python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: ${{ matrix.python-version == '3.6' && startsWith(matrix.os, 'windows') && 'poetry' || '' }}

    - name: Install dependencies
      run: poetry install --no-interaction --no-root

    - name: Build and install wheel
      run: |
        poetry build
        pip install dist/hvac-*.whl
