name: Test build and installation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          # - "3.12"
          # https://github.com/hvac/hvac/pull/1048
        os: [ubuntu-latest, macos-latest, windows-latest]
    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v3

    - name: Install Poetry
      uses: snok/install-poetry@v1.3.3
      with:
        version: 1.4.2
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Set up Python ${{ matrix.python-version }}
      id: python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
        cache: ${{ !startsWith(matrix.os, 'windows') && 'poetry' || '' }}
        # cache: ${{ matrix.python-version != '3.6' && 'poetry' || !startsWith(matrix.os, 'windows') && 'poetry' || '' }}

    - name: Install dependencies
      run: poetry install --no-interaction --no-root

    - name: Build
      run: poetry build

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: dist_${{ matrix.os }}_py${{ matrix.python-version }}
        path: dist/
        retention-days: 7
        if-no-files-found: error

    - name: Test install wheel
      run: |
        pip install dist/hvac-*.whl
        pip uninstall -y hvac

    - name: Test install sdist
      run: |
        pip install dist/hvac-*.tar.gz
        pip uninstall -y hvac
