name: Lint and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version:
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"

    steps:
    - uses: actions/checkout@v3

    - name: Install Poetry
      uses: snok/install-poetry@v1.3.3
      with:
        version: 1.4.2
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Set up Python ${{ matrix.python-version }}
      id: python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: poetry

    - name: Install dependencies
      if: steps.python.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root

    - name: Install library
      run: poetry install --no-interaction

    - name: Check formatting with `black`
      run: poetry run black --check .

    - name: Lint with `flake8`
      run: poetry run flake8 . --count --statistics

  docs-tests:
    name: Documentation Tests
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3

    - name: Install Poetry
      uses: snok/install-poetry@v1.3.3
      with:
        version: 1.4.2
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Set up Python 3.6
      id: python
      uses: actions/setup-python@v4
      with:
        python-version: 3.6
        cache: poetry

    - name: Install dependencies
      if: steps.python.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root

    - name: Install library
      run: poetry install --no-interaction

    - name: Install Vault (for doctests)
      run: |
        curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
        echo "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main" \
          | sudo tee /etc/apt/sources.list.d/hashicorp.list

        sudo apt update \
          -o Dir::Etc::sourceparts="-" \
          -o APT::Get::List-Cleanup="0" \
          -o Dir::Etc::sourcelist="sources.list.d/hashicorp.list"

        sudo apt install \
          vault-enterprise=1.7.2+ent \
          ;

        # We disble cap_ipc_lock here as its generally incompatabile with GitHub
        # Actions' runtime environments.
        sudo setcap cap_ipc_lock= /usr/bin/vault

    - name: Sphinx - doctest Build
      working-directory: ./docs
      run: |
        poetry run make doctest

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version:
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"

    steps:
    - uses: actions/checkout@v3

    - name: Install Poetry
      uses: snok/install-poetry@v1.3.3
      with:
        version: 1.4.2
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Set up Python ${{ matrix.python-version }}
      id: python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: poetry

    - name: Install dependencies
      if: steps.python.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root

    - name: Install library
      run: poetry install --no-interaction

    - name: pytest tests/unit_tests
      run: |
        poetry run pytest \
          --cov=hvac \
          --cov-report=xml:reports/coverage_py${{ matrix.python-version }}.xml \
          tests/unit_tests

    - name: Upload unit tests coverage artifacts
      uses: actions/upload-artifact@v3
      with:
        name: coverage_reports
        path: reports/*.xml
        if-no-files-found: error

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version:
          - 3.7
        vault-version:
          - "vault-enterprise=1.6.5+ent"
          - "vault-enterprise=1.7.2+ent"
          - "vault=1.6.5"
          - "vault=1.7.2"
          - "vault=1.8.0"
          - "vault=1.9.0"
          - "vault=1.10.0"
          - "vault=1.11.0-1"

    steps:
    - uses: actions/checkout@v3

    - name: Install Poetry
      uses: snok/install-poetry@v1.3.3
      with:
        version: 1.4.2
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Set up Python ${{ matrix.python-version }}
      id: python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: poetry

    - name: Install dependencies
      if: steps.python.outputs.cache-hit != 'true'
      run: poetry install --no-interaction --no-root

    - name: Install library
      run: poetry install --no-interaction

    - name: Install Vault and Consul (for integration tests)
      run: |
        curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
        echo "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main" \
          | sudo tee /etc/apt/sources.list.d/hashicorp.list

        sudo apt update \
          -o Dir::Etc::sourceparts="-" \
          -o APT::Get::List-Cleanup="0" \
          -o Dir::Etc::sourcelist="sources.list.d/hashicorp.list"

        sudo apt install \
          consul \
          ${{ matrix.vault-version }} \
          ;

        # We disble cap_ipc_lock here as its generally incompatabile with GitHub
        # Actions' runtime environments.
        sudo setcap cap_ipc_lock= /usr/bin/vault

    - name: pytest tests/integration_tests
      env:
        COVFILE: coverage_py${{ matrix.python-version }}_${{ matrix.vault-version }}.xml
      run: |
        poetry run pytest \
          --cov=hvac \
          --cov-report=xml:reports/${COVFILE//[^A-Za-z0-9\-_\.]/_} \
          tests/integration_tests

    - name: Upload integration tests coverage artifacts
      uses: actions/upload-artifact@v3
      with:
        name: coverage_reports
        path: reports/*.xml
        if-no-files-found: error

  upload-to-codecov:
    name: Upload to Codecov
    runs-on: ubuntu-20.04
    permissions:
      contents: none
    needs:
      - unit-tests
      - integration-tests
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3

      - name: Upload to Codecov
        uses: codecov/codecov-action@v3
