name: Release Drafter

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: read
    runs-on: ubuntu-slim
    steps:
      - name: Run release-drafter action
        id: release-drafter
        uses: release-drafter/release-drafter@v6
        with:
          disable-autolabeler: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Adding markdown
        run: |
          cat <<MKDOWN >> $GITHUB_STEP_SUMMARY
          ### Release Drafter :rocket:

          * **Draft Release URL**:
          [${{ steps.release-drafter.outputs.name }} (${{ steps.release-drafter.outputs.id }})](${{ steps.release-drafter.outputs.html_url }})
          * **Tag Name**: ${{ steps.release-drafter.outputs.tag_name }}
          MKDOWN
